BELLIER_Sacha_Resume/main.aux
BELLIER_Sacha_Resume/main.log
BELLIER_Sacha_Resume/main.out
BELLIER_Sacha_Resume/main.pdf

dist/
BELLIER_Sacha_Resume_EN.pdf
BELLIER_Sacha_Resume_FR.pdf
BELLIER_Sacha_ResumeVerbose_EN.pdf
BELLIER_Sacha_ResumeVerbose_FR.pdf
